@import './theme';
@import './media-queries';

footer {
  background: $black;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  div.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    @include laptop-lg {
      padding: 0 60px;
    }

    @include mobile {
      padding: 0 30px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div.content-logo {
      margin-bottom: 30px;

      img {
        width: 100px;
      }
    }

    div.content-rights {

      p {
        color: $primary;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
        text-align: center;

        a {
          color: $primary;
        }
      }
    }

    div.content-sociais {
      margin-bottom: 40px;

      a {
        padding: 0 10px;
  
        svg.social-icons {
          color: $primary;
        }
      }
    }
  }
}