@import './theme';
@import './variables';

section.home {
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/thiago-pethit-rocknroll-sugar-darling_lg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  img {
   margin-top: 100px;
  }

  @include breakpoint(xl) {
    background-position: center;
    
    img {
      width: 500px;
    }
  }

  @include breakpoint(lg) {

    img {
      width: 500px;
    }
  }

  @include breakpoint(sm) {

    img {
      margin-top: 230px;
      width: 300px;
    }
  }

  @include breakpoint(xs) {

    img {
      width: 260px;
    }
  }

}

section.sobre {
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/backgorund.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: $primary;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include breakpoint(xl) {
    background-size: 1000px;
    background-position-x: right;
  }

  @include breakpoint(lg) {
    background-image: none;
  }

  div.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    div.sobre-content {
      width: 740px;
      height: auto;

      @include breakpoint(xl) {
        padding: 0 60px;
      }

      @include breakpoint(lg) {
        width: 100%;
      }

      @include breakpoint(sm) {
        padding: 0 30px;
      }
    
      p {
        font-size: 18px;
        line-height: 32px;
        color: $black;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: justify;

        @include breakpoint(sm) {
          font-size: 14px;
          line-height: 24px;
        }
      }
  
      span {
        font-size: 12px;
        line-height: 18px;
        color: $black;

        @include breakpoint(sm) {
          font-size: 10px;
          line-height: 12px;
        }
  
        a {
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
}

section.musicas {
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/mosaic.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: center;

  @include breakpoint(sm) {
    background-position-x: right;
  }

  div.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include breakpoint(xl) {
      padding: 0 60px;
    }

        @include breakpoint(sm) {
      padding: 0 30px;
    }

    div.content {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;

      @include breakpoint(md) {
        justify-content: space-around;
      }

      @include breakpoint(sm) {
        gap: 3rem;
        flex-flow: wrap;
        justify-content: flex-start;
      }
  
      div.cd-content {
        display: flex;
        flex-direction: column;

        img {
          width: 250px;

          @include breakpoint(sm) {
            width: 180px;
          }
        }

        span {
          color: $white;
          font-size: 14px;
          line-height: 18px;
          padding-top: 10px;

          @include breakpoint(xs) {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }

      div.faixas-content {

        p {
          color: $white;
          font-size: 16px;
          line-height: 24px;

          @include breakpoint(xs) {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }

      div.ouca-content {
        p {
          font-size: 16px;
          line-height: 24px;

          @include breakpoint(xs) {
            font-size: 14px;
            line-height: 24px;
          }

          a {
            text-decoration: none;
            color: $white;
          }
        }

      }
    }
  }
}

section.agenda {
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/thiago-pethit-rocknroll-sugar-darling_lg_blur.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: center;

  @include breakpoint(md) {
    background-position-x: left;
  }

  div.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(xl) {
      padding: 0 60px;
    }

    @include breakpoint(sm) {
      padding: 0 30px;
    }

    div.agenda-content {
      p {
        font-size: 16px;
        line-height: 24px;
        color: $white;
        margin-bottom: 20px;
        text-transform: uppercase;

        @include breakpoint(xs) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}