section {
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/hiago-pethit-rocknroll-sugar-darling_lg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;


  img {
   margin-top: 100px;
  }
}