@import './theme';
@import './variables';

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0,0,0,.9);
  position: fixed;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  z-index: 1;
  transition: .3 ease-in;

  @include breakpoint(xl) {
    justify-content: space-between;
    padding: 0 60px;
  }

  @include breakpoint(sm) {
    padding: 0 30px;
    height: 70px;
  }

  div.content-logo {
    
    img {
      width: 90px;

      @include breakpoint(sm) {
        width: 70px;
      }
    }
  }

  div.content-navbar {
    ul.nav-desktop {
      display: flex;
      gap: 2rem;
      padding: 0;
      margin: 0;
      list-style: none;
     
      li a {
        color: $primary;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 32px;
        cursor: pointer;

        &:hover {
          padding-bottom: 8px;
          border-bottom: 2px solid $primary;
        }
      }

      @include breakpoint(md) {
        display: none;
      }
    }

    ul.navbar-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.5s ease-in-out;
      width: 100%;
      background-color: rgba(0,0,0,.95);
      height: 100vh;
      gap: 1.5rem;
      list-style: none;

      @include breakpoint(md) {
        li a {
          color: $primary;
          font-size: 24px;
          line-height: 32px;
        }
      }

     @include breakpoint(sm) {
        li a {
          color: $primary;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  div.content-sociais {
    @include breakpoint(md) {
      display: none;
    }

    a {
      padding: 0 10px;

      svg.social-icons {
        color: $primary;
      }
    }
  }

  div.content-mobile {
    display: none;

    button {
      border: none;
      background: none;
    }

    @include breakpoint(md) {
      display: block;
    }

    svg.list-icons {
      color: $primary;
      z-index: 1;
      position: relative;

      @include breakpoint(sm) {
        width: 24px;
        height: 24px;
      }
    }
  }
}